# VScode
.vscode/

# Python venv
.venv/

# Testinfra files
__pycache__
pytestdebug.log

# credential cache
vault_password_file.sh
group_vars/all.yml

# packer
packer_cache/
_build/

# vagrant
.vagrant
